{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol">
                {% for symbol in symbols %}
                <!-- symbol is a dict and symbol is also a key -->
                    <option>{{ symbol["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <!-- numeric for inputting number of shares -->
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}